@page "/weather"
@inject HttpClient Http

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <DataGrid TItem="WeatherForecast" Data="forecasts" FixedHeader FixedHeaderDataGridMaxHeight="200px">
        <DataGridColumns>
            <DataGridColumn Field="@nameof(WeatherForecast.Date)" Caption="Date" />
            <DataGridColumn Field="@nameof(WeatherForecast.TemperatureC)" Caption="Temp. (C)" />
            <DataGridColumn Field="@nameof(WeatherForecast.TemperatureF)" Caption="Temp. (F)" />
            <DataGridColumn Field="@nameof(WeatherForecast.Summary)" Caption="Summary" />
        </DataGridColumns>


    </DataGrid>


}

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");
    }

    public class WeatherForecast
    {
        public DateOnly Date { get; set; }

        public int TemperatureC { get; set; }

        public string? Summary { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
